# Importation des librairies

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd

In [2]:
def affichage(array):
    print(f"la dimension du tableau: ' {array.shape} '")
    print(f"le type du tableau: ' {type(array)} '")
    print(array)

## Tableau

## 1.1 Tableau à une dimension

In [3]:
one_dim_array = np.array([120, 234, 367, 674, 345, 78])
affichage(one_dim_array)

la dimension du tableau: ' (6,) '
le type du tableau: ' <class 'numpy.ndarray'> '
[120 234 367 674 345  78]

## 1.Tableau à deux dimensions

In [4]:
two_dim_array = np.array([
    [12, 34, 23, 56],
    [78, 44, 34, 78],
])
affichage(two_dim_array)

la dimension du tableau: ' (2, 4) '
le type du tableau: ' <class 'numpy.ndarray'> '
[[12 34 23 56]
 [78 44 34 78]]

In [5]:
data = pd.DataFrame({
    "nom": [
        "ASIM", "JENOVIC", "ELDAA", 
        "GRACE", "PAUL", "MARIE", "LUC", 
        "CONSOLATE", "JEAN", "FRANCK", 
        "DAVID", "TEGRA", "KETSIA", "JEAN", "EMMA"
    ],
    "poste": [
        "Ingénieur", "Chef de projet", "Analyste",
        "Developper", "Manager", "Designer", "Technicien",
        "Responsable RH", "Comptable", "Marketing", "Ventes", 
        "Consultant", "IT Support", "Recherche", "Finance"
    ],
    "salaire": [
        7000, 8500, 6000, 4500, 8000, 5500, 5000, 6500, 4800, 
        5300, 7500, 9000, 5200, 7200, 6800
    ],
    "anciennete": [6, 8, 3, 5, 7, 4, 2, 9, 3, 6, 10, 5, 2, 8, 4],
    "niveau_etudes" : [
        "master", "Docteur", "master", "master", "Licencié", "Licencié",
        "Bac+2", "Master", "Bac+3", "Licence", "Master", "Doctorat", "Bac+2", 
        "Master", "Master"
    ],
    "age": [32, 40, 28, 35, 38, 30, 26, 37, 29, 33, 45, 42, 25, 34, 31],
    "ville": [
        "Lubumbashi", "Kinshasa", "Matadi", "Goma", "Bukavu", "Kisangani", 
        "Kolwezi", "Kananga", "Mbuji-Mayi", "Tshikapa", "Boma", "Bandundu", 
        "Kikwit", "Mbandaka", "Isiro"
    ],
    "certifications": [
        "PMP", "Scrum Master", "Data Analyst", "Full Stack Developer", "Six Sigma", 
        "Graphic Design", "ITIL", "HR Management", "CPA", "Digital Marketing", "Salesforce", 
        "Consulting", "Technical Support", "Research Methods", "Financial Analysis"
    ]
})


data.head()

,nom,poste,salaire,anciennete,niveau_etudes,age,ville,certifications
0,ASIM,Ingénieur,7000,6,master,32,Lubumbashi,PMP
1,JENOVIC,Chef de projet,8500,8,Docteur,40,Kinshasa,Scrum Master
2,ELDAA,Analyste,6000,3,master,28,Matadi,Data Analyst
3,GRACE,Developper,4500,5,master,35,Goma,Full Stack Developer
4,PAUL,Manager,8000,7,Licencié,38,Bukavu,Six Sigma

In [6]:
table = np.array([12, 34, 22, 45])
table

array([12, 34, 22, 45])

In [7]:
b = np.zeros((3, 2))
c = np.ones((3, 2))
b

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [8]:
c = np.full((4, 5), 9)
c

array([[9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9],
       [9, 9, 9, 9, 9]])

In [9]:
np.random.seed(33)
d = np.random.randn(2, 2, 4)
d

array([[[-0.31885351, -1.60298056, -1.53521787, -0.57040089],
        [-0.2167283 ,  0.2548743 , -0.14944994,  2.01078257]],

       [[-0.09678416,  0.42220166, -0.22546156, -0.63794309],
        [-0.0162863 ,  1.04421678, -1.08488033, -2.20592483]]])

In [10]:
np.linspace(0, 10, 20, dtype=np.int32)

array([ 0,  0,  1,  1,  2,  2,  3,  3,  4,  4,  5,  5,  6,  6,  7,  7,  8,
        8,  9, 10], dtype=int32)

In [11]:
np.arange(0, 10, 0.5)

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. ,
       6.5, 7. , 7.5, 8. , 8.5, 9. , 9.5])

## Manipulation des tableaux NUMPY

In [15]:
# # autre methode
# d = np.concatenate((b, c), axis=0)
# d.shape

# remanupuler la forme de tableau

In [18]:
# d.reshape(2, 6, 1)

In [19]:
# exercises
def initialisation(m, n):
    random_array = np.random.randn(m, n+1)
    biais_array = np.ones(random_array.shape)
    # biais_array = biais_array.reshape(biais_array.shape[0], 1)
    concatenation_array = np.concatenate((biais_array, random_array), axis=1)

    return concatenation_array

In [20]:
initialisation(2, 2)

array([[ 1.        ,  1.        ,  1.        , -0.95121901,  0.83297319,
        -1.00020817],
       [ 1.        ,  1.        ,  1.        ,  0.34346274,  1.54603026,
         0.69008095]])

## L'indexing et les slicing

In [21]:
array_d2 = np.array([
    [23, 34, 24],
    [2300, 3400, 2400],
    [233, 342, 244],
])
array_d2.shape

(3, 3)

In [22]:
array_d2

array([[  23,   34,   24],
       [2300, 3400, 2400],
       [ 233,  342,  244]])

In [23]:
array_d2[1, 2]

np.int64(2400)

In [24]:
array_d2[0, :]

array([23, 34, 24])

In [25]:
array_d2[:1, :2]

array([[23, 34]])

In [26]:
data.head()

,nom,poste,salaire,anciennete,niveau_etudes,age,ville,certifications
0,ASIM,Ingénieur,7000,6,master,32,Lubumbashi,PMP
1,JENOVIC,Chef de projet,8500,8,Docteur,40,Kinshasa,Scrum Master
2,ELDAA,Analyste,6000,3,master,28,Matadi,Data Analyst
3,GRACE,Developper,4500,5,master,35,Goma,Full Stack Developer
4,PAUL,Manager,8000,7,Licencié,38,Bukavu,Six Sigma